#title{
    font-family: "Roboto Condensed", sans-serif;
    color: blueviolet;
    background-image: url(https://picsum.photos/200);
}

#paragraph{
    font-family: "Oswald", sans-serif;
    color: rgb(83, 118, 165);
    background-color: rgb(248, 199, 134);
}

#paragraph:hover{
    background-color: blue;
}